@()(implicit req: RequestHeader)
<!doctype html>
<html lang="en" ng-app="phonecat">
    <head>
        <meta charset="utf-8">
        <title> Google Phone Gallery </title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/app.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <script src="@routes.Assets.at("components/angular/angular.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("components/angular-resource/angular-resource.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("components/angular-translate/angular-translate.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/controllers.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/filters.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/services.js")" type="text/javascript"></script>
        @helper.javascriptRouter("jsRoutes")(
            routes.javascript.Application.phones,
            routes.javascript.Application.messages

        )
    </head>
    <body>

        <div ng-view></div>

    </body>
</html>
